@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

article{
    padding: 20px;
}

#hero {
    height: 100vh;
    background: url('asset/jumbotoron.png') no-repeat center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dhots {
    position: absolute;
    top: -10px;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    animation: dhots-fall 4s infinite linear;
}

.dhots:nth-child(1) {
    left: 5%;  
    animation-duration: 4s;
}

.dhots:nth-child(2) {
    right: 5%; 
    animation-duration: 5s;
}

.dhots:nth-child(3) {
    left: 20%;  
    animation-duration: 6s;
}

.dhots:nth-child(4) {
    right: 20%; 
    animation-duration: 7s;
}

.dhots:nth-child(5) {
    left: 40%;  
    animation-duration: 8s;
}

.dhots:nth-child(6) {
    right: 40%; 
    animation-duration: 9s;
}

.dhots:nth-child(7) {
    left: 60%;  
    animation-duration: 10s;
}

.dhots:nth-child(8) {
    right: 60%; 
    animation-duration: 11s;
}

.dhots:nth-child(9) {
    left: 80%;  
    animation-duration: 12s;
}


.dhots:nth-child(10) {
    right: 80%; 
    animation-duration: 13s;
}

@keyframes dhots-fall {
    0% {
        top: -10px;     
        opacity: 1;    
    }
    100% {
        top: 100vh;    
        opacity: 0;    
    }
}

@keyframes blink {
    0% { opacity: 0.8; }
    50% { opacity: 1; }
    100% { opacity: 0.8; }
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

}

.logo {
    margin-left: 50px;
    background-color: white;
    color: black;
    padding: 15px 40px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 50px;
    padding: 0;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .2s;
}

.nav-links a:hover {
    color: #00eeff;
}

.nav-links a.btn-contact {
    background-color: #36C1C8;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5rem;
    transition: .5s;
}

.nav-links a.btn-contact:hover {
    background-color: #2C9C9C;
    padding: 10px 25px;
}

.welcome-1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.welcome-2 {
    font-size: 4.5rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px white;
    margin: 0;
}

.btn-about {
    margin-top: 40px;
    padding: 15px 20px;
    background-color: white;
    color: gray;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
    
}

.btn-about a{
    text-decoration: none;
    color: black;
}

.btn-about:hover {
    background-color: #36C1C8;
    color: white;
    transition: .3s;
}

#about {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    padding: 0 100px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    margin-top: -40px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    flex-direction: row;
    width: 100%;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.about-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.about-title span{
    color: #65FAFF;
    font-size: 5rem;
}

.text-about p {
    margin-top: 0; 
    font-size: small;
    text-align: justify;
}

/* make a line under title about */
.about-title::after{
    content: "";
    display: block;
    background-color: #65FAFF;
    width: 100px;
    height: 10px;
    margin-top: -10px;
    margin-bottom: 30px;
    margin-left: 5px;
    border-radius: 50px;
}

.right-side img{
    max-width: 500px;
}

#project{
    background: url('asset/bgproject.png'), #1d1d1d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: white;
    gap: 100px;
}

.project-item img{
    max-width: 400px;
    border-radius: 10px;
}

h2.project-title{
    margin-top: 50px;
    font-size: 3rem;
    font-family: "Poppins", serif;
}


.project-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.project-name{
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 700;
}

.project-description{
    font-size: 12px;
    text-align: justify;
    max-width: 95%;
}


.project-item{
    position: relative;
}

.overlay-text{
    position: absolute;
    bottom: 0px;
    /* left: 16px; */
    /* z-index: -10;
    background: #00000066; */
    padding-left: 16px;
    height: fit-content;
}

/* group hover project item hover the overlay is appear

.project-item:hover .overlay-text{
    display: block;
} */



.project-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.btn-project{
    padding: 20px 50px;
    margin-bottom: 70px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
    font-weight: bold;

}

.btn-project:hover {
    background-color: #00eeff;
    color: white;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.contact-grid form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-title{
    padding-top: 50px;
    font-size: 3rem;
    font-family: "Poppins", serif;
}

.input-small{
    width: 30vw;
    padding: 12px 20px;
    border-radius: 50px;
    border: solid #000;
    outline: none;
    transition: .3s;
}

.input-small:hover{
    border-color: #2dc1cc;
}
.input-small:focus{
    border: solid #00eeff;
}

.message{
    padding: 10px 20px;
    border-radius: 20px;
    border: solid #000;
    outline: none;
    transition: .3s;
}

.message:hover{
    border-color: #2dc1cc;
}
.message:focus{
    border: solid #00eeff;
}

.btn-contact{
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;       
    color: black;
    transition: .3s;
    margin-bottom: 60px;
}

.btn-contact:hover{
    background-color: #aea1a1;
}

footer{
    background-color: #1B1B1B;
    height: fit-content;
    width: auto;
    position: relative;
    
}

footer img{
    position: absolute;
    height: auto;
    width: 500px;
    margin-top: -200px;
    margin-left: 800px ;
    z-index: 1;
    
}
.main-footer{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px;
    align-items: center;
}

.content-foot ul li{
    list-style: none;
    margin: 15px 0;
}

.teamone-foot {
    font-size: 3rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    margin: 0;
}

.copyright{
    background-color: #545454;
    padding: 15px 0;
    z-index: 2;
}

.copyright h4{
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: 300;
}